.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.project-card {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 45%;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.project-card img {
    width: 100%;
    height: auto;
}
.project-card h3 {
    font-size: 1.5em;
    margin: 10px;
}
.project-card p {
    font-size: 1em;
    margin: 10px;
}
